<div class="container">
  <div class="col-12 col-lg-6">
      <body class="background-home">
        <div class="profile-header">
            <%= cl_image_tag @user.photo.key %>
              <div class="user-info align-self-center flex-fill">
                <strong><%= @user.username %></strong>
                <%= @user.description %>
              </div>
              <div class="flex-shrink-1 align-self-center">
                <% unless @user == current_user %>
                  <% if current_user.following?(@user) %>
                    <button class="btn btn-Unfollow"><%= link_to "Unfollow", unfollow_user_path(@user), data: { confirm: "Are you sure?" } %></button>
                  <% else %>
                    <button class="btn btn-Follow"><%= link_to "Follow", follow_user_path(@user) %></button>
                  <% end %>
                <% end %>
            </div>
        </div>

              <% @user.posts.each do |post| %>
              <div class="card-trip">
                  <% if post.image? %>
                  <%= image_tag(post.image) %>
                  <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= post.title.truncate(100) %></h2>
                    <p><%= post.note %></p>
                  </div>
                    <h2 class="card-trip-pricing">£99.99</h2>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                </div>
          </div> <% end %>
      </body>
  </div>
</div>
