<div class="container">
  <div class="col-12 col-lg-6">
      <body class="background-home">
        <div class="profile-header">
            <%= cl_image_tag @user.photo.key %>
          <div class="user-info align-self-center flex-fill">
            <strong><%= @user.username %></strong>
              <%= @user.description %>
          </div>
          <div class="flex-shrink-1 align-self-center">
            <% unless @user == current_user %>
              <% if current_user.following?(@user) %>
                <button class="btn btn-Unfollow"><%= link_to "Unfollow", unfollow_user_path(@user), data: { confirm: "Are you sure?" } %></button>
              <% else %>
                <button class="btn btn-Follow"><%= link_to "Follow", follow_user_path(@user) %></button>
                <% end %>
              <% end %>
          </div>
        </div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Find by category</h1>
        </div>

        <div align="center">
            <% @user.posts.each do |post| %>
            <% if post.category? %>
            <button class="btn btn-default filter-button" data-filter= <%=  post.category %>>
            <p><%= post.category %></p>
            </button>
            <% end %>
            <% end %>
        </div>
        <br/>
                  <% @user.posts.each do |post| %>
                    <% if current_user == post.user %>
                    <div class="card-trip col-lg-4 col-md-4 col-sm-4 col-xs-6 filter <%=  post.category %>">
                      <h2><%= post.title.truncate(100) %></h2>
                        <% if post.image? %>
                        <%= image_tag(post.image) %>
                        <% end %>
                        <% end %>
                        <div class="card-trip-infos">
                          <div>
                            <p><%= post.note %></p>
                          </div>
                          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                          <%# <%= cl_image_tag post.user.photo.key if post.user.photo && post.user.photo.key %>
                        </div>
                        <% if @user == current_user %>
                          <%= link_to edit_post_path(post) do %>
                          <i class="fas fa-edit" style="color: #111928"></i>
                          <% end %>
                          <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure?" } do %>
                          <i class="fas fa-trash-alt" style="color: #111928"></i>
                          <% end %>
                          <a href="https://twitter.com/intent/tweet?url=http://personalspace.cc<%=post_path(post) %>">
                          <i class="fab fa-twitter" style="color: #111928"></i></a>
                    </div>
                    <% end %>
                    <% end %>
        </div>
    </div>
</section>

            <script>
              $(document).ready(function(){

                  $(".filter-button").click(function(){
                      var value = $(this).attr('data-filter');

                      if(value == "all")
                      {
                          //$('.filter').removeClass('hidden');
                          $('.filter').show('1000');
                      }
                      else
                      {
              //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
              //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                          $(".filter").not('.'+value).hide('3000');
                          $('.filter').filter('.'+value).show('3000');

                      }
                  });

                  if ($(".filter-button").removeClass("active")) {
              $(this).removeClass("active");
              }
              $(this).addClass("active");

              });
            </script>

          </body>
      </div>
 </div>
