<div class="profile-header">
  <%= cl_image_tag @user.photo.key %>
  <div class="user-info align-self-center flex-fill">
    <strong><%= @user.username %></strong>
    <%= @user.description %>
  </div>
  <div class="flex-shrink-1 align-self-center">
    <% unless @user == current_user %>
      <% if current_user.following?(@user) %>
        <button class="btn btn-Unfollow"><%= link_to "Unfollow", unfollow_user_path(@user), data: { confirm: "Are you sure?" } %></button>
      <% else %>
        <button class="btn btn-Follow"><%= link_to "Follow", follow_user_path(@user) %></button>
      <% end %>
    <% end %>
  </div>
</div>
