<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <body class="background-index">
        <h1>Newsfeed</h1>

            <% @posts.each do |post| %>
              <% if current_user.following?(post.user) == true and post.status != "private" %>
               <div class="card-trip">
                  <% if post.image? %>
                  <%= image_tag(post.image) %>
                  <% end %>
                  <% end %>
                  <div class="card-trip-infos">
                  <div>
                    <h2><%= post.title.truncate(100) %></h2>
                    <p><%= post.note %></p>
                  </div>
                  <h2 class="card-trip-pricing">£99.99</h2>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  </div>
                </div><% end %>


              <% @posts.each do |post| %>
                <% if current_user == post.user %>
                <div class="card-trip">
                  <% if post.image? %>
                  <%= image_tag(post.image) %>
                  <% end %>
                  <% end %>
                  <div class="card-trip-infos">
                  <div>
                    <h2><%= post.title.truncate(100) %></h2>
                    <p><%= post.note %></p>
                  </div>
                  <h2 class="card-trip-pricing">£99.99</h2>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  </div>
                </div><% end %>
      </body>
    </div>
  </div>
</div>
