<div class="index-container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <body class="background-home">
        <h1>Newsfeed</h1>
          <div>
                <% @posts.each do |post| %>
                  <% if post.status == "public" %>
                  <div class="card-index-page mx-auto"><%= link_to post.original_url do %>
                  <% end %>
                  <div>
                  <h2 class="h2-show-page"><%= post.title.truncate(100) %></h2>
                  <%= image_tag(post.image, width: 200) %>
                </div><% end %>
                    <div style="background-color: white"><%= link_to post_path(post) do %>
                    <%= cl_image_tag post.user.photo.key if post.user.photo && post.user.photo.key %>
                      <h2><button><%= link_to post.user.username, user_path(post.user) %></button></h2>
                      <p class="p-user-show-page"><%= post.note %></strong></p>
                    </div><% end %>
          </div><% end %>
      </body>
    </div>
  </div>
</div>
