<div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-lg-6">
      <body class="background-home">
          <% @my_posts.each do |post| %>
          <%# <ul></ul> %>

              <div class="card-product mx-auto">
                <h2><%= post.title %>
                <div style="background-color: white">
                      <p><%= post.description %></p>
                      <button class="btn btn-ghost"> <%= link_to "view", post_path(post) %></button>
                      <div class="my-posts-container" >
                          <div>
                            <%= link_to edit_post_path(post) do %>
                              <i class="fas fa-edit"></i>
                            <% end %>
                            <%# <%= link_to edit_post do %>
                              <i class="fas fa-trash-alt"></i>
                            <%# <% end %>
                          </div>
                          <div>
                            <%# <%= link_to edit_post do %>
                              <i class="fas fa-star"></i>
                          <%#  <% end %>

                           <a href="https://twitter.com/intent/tweet?url=http://personalspace.cc<%=post_path(post) %>">
                            <i class="fab fa-twitter"></i></a>

                          </div>
                        </div>
                </div>
              </div>

          <% end %>

          <button class="btn-flat-centered"><%= link_to "Add Post", new_post_path %></button>
      </body>
  </div>
  </div>
</div>
