<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <body class="background-home">
          <h1>Add your post</h1>

          <%= simple_form_for [ @post ] do |f| %>
            <%= f.input :original_url %>
            <%= f.input :note, as: :text %>
            <%= f.input :status, collection:Post.statuses.keys %>

            <%= f.submit "Save", class: "btn btn-gradient"  %>
          <% end %>
        </body>
    </div>
  </div>
</div>
