<meta content="text/html; charset=UTF-8" name="Content-Type"/>
<%= display_meta_tags og: { title: @post.title, description: @post.description, image: @post.image } %>
<%= display_meta_tags twitter: { title: @post.title, description: @post.description, image: @post.image, card: @post.image } %>

<div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-lg-6">
      <body class="background-home">
        <div class="card-product-show">
          <div><%= link_to @post.original_url do %>
            <div class="card-product-infos-show">
              <h2 class="h2-show-page"><%= @post.title.truncate(50) %></h2>
              <p class="p-show-page"><%= @post.description.truncate(100) %></p>
              <% if @post.image? %>
                <%= image_tag @post.image, width: 200 %>
              <% end %>
              <p><%= @post.original_author %></p>
            </div>
            <% end %>
            <div class="card-product-infos-show-white-space">
                <p><em><%= @post.note.truncate(100) %></em></p>
                <% unless @post.user != current_user %>
                <div class="icons-container">
                  <%= link_to edit_post_path(@post) do %>
                    <i class="fas fa-edit" style="color: #111928"></i>
                    <% end %>
                    <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash-alt" style="color: #111928"></i>
                    <% end %>
                    </div>
                <% end %>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>
