<%= display_meta_tags og: { title: @post.title, description: @post.description, image: @post.image } %>
<%= display_meta_tags twitter: { title: @post.title, description: @post.description, image: @post.image } %>

<div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-lg-6">
      <body class="background-home">
        <div class="card-product-show">
          <div><%= link_to @post.original_url do %>
            <div class="card-product-infos-show">
              <h2 class="h2-show-page"><%= @post.title.truncate(50) %></h2>
              <p class="p-show-page"><%= @post.description.truncate(100) %></p>
              <%= cl_image_tag @post.image, width: 200 %>
              <p><%= @post.original_author %></p>
            </div>
            <% end %>
            <div>
                <p><%= @post.note.truncate(100) %></p>
                <% unless @post.user != current_user %>
                <button class="btn-ghost"><%= link_to "Edit Post", edit_post_path(@post)%></button>
                <button> <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %></button>
                <% end %>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>
